<!DOCTYPE html>
<html>
    <head> 
        <title>My Profile</title>
        <meta>  
        <link rel="stylesheet" type="text/css" href="url_for('static', filename='app.css')"/>

    </head>
    <body>
        <div class= "Top Container"> 
            <img src = "/app/static/image/pic.jpg">
            <h3> Krystall Messam</h3>
            <h6> @massem100</h6>
            <h6> Kingston, Jamaica</h6>
            <h6>date_joined()</h6>

        </div>
        <div class = "Lower Container"> 
            <p id = "bio"> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur possimus doloremque perspiciatis quae? Mollitia corporis magnam autem. Esse molestiae minima ratione provident eligend
                vero laudantium voluptate tempora maxime tenetur. Voluptas?
            </p>

            <div> 
                <h6> 30  posts</h6>
                <h6> 972 Following</h6>
                <h6> 967  Followers </h6>
            </div>
           <button> Follow </button>
        </div>

    </body>
</html> 